body {
    background-color: rgb(240, 193, 193);
}

    h1 {
    color: rgba(63, 57, 85, 0.966);
    font-size: 50px;
    padding-left: 30px;
    padding-right: 70px;
    border-style: solid;
    border-color: rgba(63, 57, 85, 0.966);

}