@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #e0eef3f5;
    background-color: rgb(61, 69, 71);
}
 
h1, h2 {
    font-family: Roboto, sans-serif;
    letter-spacing: 3px;
    color: #e0eef3f5;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

#nav-links {
    font-size: 120%;
    font-family: Roboto, sans-serif;
    letter-spacing: 3px;
}

#nav-links li {
    float:right;
    list-style-type: none;
    margin-right: 40px;
    }

#nav-links a {
    text-decoration: none;
    color: inherit;
}

#logo, #nav-links {
    line-height: 85px;
    padding-bottom: 45px;
}

#nav-links a:hover {
    border-bottom: 2px solid rgb(240, 238, 238);
}

.active {
    border-bottom: 2px solid rgb(240, 238, 238);
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image6.jpg') no-repeat center center;
}